{{ ansible_managed | comment }}

app_mode = production
instance_name = grafana.alexv2024.online

[paths]
data = {{ grafana_data_dir }}
logs = {{ grafana_logs_dir }}
plugins = {{ grafana_data_dir }}/plugins
; datasources = conf/datasources

[server]
protocol = http

[database]
type = sqlite3
host = 127.0.0.1:3306
name = grafana
user = root
password = password
url =  sqlite3://user:root@{{ ipgrafana }}:3306/database
max_idle_conn = 2
max_open_conn =
conn_max_lifetime = 14400
log_queries =
ssl_mode = disable
isolation_level =
ca_cert_path =
client_key_path =
client_cert_path =
server_cert_name =
path = grafana.db
cache_mode = private
locking_attempt_timeout_sec = 0
query_retries = 0
transaction_retries = 5

[remote_cache]
{% for k,v in grafana_remote_cache.items() %}
{{ k }} = {{ v }}
{% endfor %}

# Security
[security]
{% for k,v in grafana_security.items() %}
{{ k }} = {{ v }}
{% endfor %}

# Dashboards
[dashboards]
versions_to_keep = 20

[dashboards.json]
enabled = true
path = {{ grafana_data_dir }}/dashboards

# Logging
[log]
mode = {{ grafana_log.mode | default('console, file') }}
level = {{ grafana_log.level | default('info') }}

# Metrics
{% if grafana_metrics != {} %}
[metrics]
enabled = true
interval_seconds = {{ grafana_metrics.interval_seconds | default(10) }}
{%   if grafana_metrics.graphite is defined %}
[metrics.graphite]
address = {{ grafana_metrics.graphite.address }}
prefix = {{ grafana_metrics.graphite.prefix }}
{%   endif %}
{% endif %}

# Grafana.com configuration
[grafana_com]
url = https://grafana.com

# Panels
{% if grafana_panels != {} %}
[panels]
{%   for k,v in grafana_panels.items() %}
{{ k }} = {{ v }}
{%   endfor %}
{% endif %}
