auth_enabled: false

server:
  http_listen_port: 3100
  log_level: info

common:
  instance_addr: 127.0.0.1
  path_prefix: "{{ loki_storage_dir }}"
  storage:
    #s3:
    #  s3: https://storage.yandexcloud.net
    #  bucketnames: logiloki
    #  region: ru-central1
    #  access_key_id: 
    #  secret_access_key: 
    #  s3forcepathstyle: true
    filesystem:
      chunks_directory: "{{ loki_storage_dir }}"/chunks
      rules_directory: "{{ loki_storage_dir }}"/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

pattern_ingester:
  enabled: true
  metric_aggregation:
    enabled: true
    loki_address: localhost:3100

ruler:
  alertmanager_url: http://localhost:9093

frontend:
  encoding: protobuf

analytics: 
  reporting_enabled: false

ingester:
  chunk_encoding: snappy

table_manager:
  retention_deletes_enabled: true
  retention_period: 72h # Delete old logs afte 72h